<html>
  <head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Minty-Rain-Online-Judge</title>
  {% endif %}
  </head>
  
  <body>
    <div>Minty-Rain-Online-Judge <a href="/">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock  %}

    <hr>
    <div id="footer">        
      <p>&copy; 2016 by Vasantha Ganesh K. All rights reserved.<a href="mailto:vasanthaganesh.k@tuta.io"> &ltvasanthaganesh.k@tuta.io&gt</a></p>
    </div>
    
  </body>
</html>
